.form-main-area {
    max-width: 1000px;
    margin: 0 auto;
}

.form-title-text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.formItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px rgba(217, 217, 217, 1) solid;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    align-items: center;
}

.form-subject {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
}

.form-name {
    color: rgba(0, 60, 51, 1);
    font-size: 1rem;
    font-weight: normal;
}

.form-rabel {
    width: 3rem;
    height: 1.3rem;
    align-items: center;
    background-color: rgba(230, 75, 6, 1);
    color: rgba(255, 255, 255, 1);
    padding: 0 0 2px;
    text-align: center;
    line-height: 1.3;
    font-weight: normal;
    border-radius: 2px;
}

.detail-text, .detail-text2 {
    height: 2.3rem;
    background-color: rgba(242, 242, 242, 1);
}

.detail-text {
    width: 35rem;
    padding: 1rem 0.9rem;
}

.detail-text2 {
    padding: 1rem 0.9rem;
}

.form-detail-area input {
    cursor: pointer;
    color: #a9a9a9;
}

.form-detail-area {
    margin-left: 3rem;
}

.form-textarea-main {
    width: 35rem;
    height: 12rem;
    background-color: rgba(242, 242, 242, 1);
    resize: none;
}

.form-radio-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-btn {
    width: 1rem;
    height: 1rem;
    border: 1px solid;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 0.5rem;
}

.radio-text1 {
    margin-right: 3rem;
}

.mail-note {
    margin-top: 0.8rem;
}

.note-text {
    line-height: 2;
}

.check-submit {
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid;
    margin-right: 0.6rem;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-button-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-button-area {
    margin-top: 3rem;
}


.result-button {
    background-color: rgba(0, 60, 51, 1);
    border: 1px rgba(0, 60, 51, 1) solid;
    width: 14rem;
    height: 3rem;
    border-radius: 30px;
    text-align: center;
    color: #FFF;
    line-height: 1;
    cursor: pointer;
    position: relative;
}

.result-button:disabled {
    background-color: rgba(188, 188, 188, 1);
    border: 1px rgba(188, 188, 188, 1) solid;
    width: 14rem;
    height: 3rem;
    border-radius: 30px;
    text-align: center;
    color: #FFF;
    line-height: 1;
    cursor: pointer;
    position: relative;
}

.result-button:hover {
    opacity: 0.8;
    transition: 1s;
}

.result-button:after {
    border-top: 2px rgba(255, 255, 255, 1) solid;
    border-right: 2px rgba(255, 255, 255, 1) solid;
    content: "";
    display: inline-block;
    height: 6px;
    left: calc(100% - 28px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
    width: 6px;
}

@media screen and (max-width: 920px) {

    .formItem {
        flex-wrap: nowrap;
    }

    .form-main-area {
        max-width: 800px;
        margin: 0 auto;
    }

    .form-detail-area input {
        margin-left: 4rem;
    }

    .form-subject {
        width: 230px;
    }

    .form-detail-area {
        margin-left: inherit;
    }

    .detail-text, .form-textarea-main {
        width: 31rem;
    }

    .detail-text, .detail-text2 {
        height: inherit;
    }
}

@media screen and (max-width: 768px) {


    .form-main-area {
        max-width: 750px;
        margin: 0 auto;
    }

    .form-detail-area input {
        margin-left: 1rem;
    }
}

@media screen and (max-width: 550px) {

    .form-main-area {
        max-width: 500px;
        margin: 0 auto;
    }

    .detail-text, .form-textarea-main {
        width: 19rem;
    }
}

@media screen and (max-width: 430px) {

    .formItem {
        display: block;
    }

    .form-subject {
        display: block;
    }

    .list-link-about {
        width: 300px;
    }

    .form-main-area {
        max-width: 370px;
        margin: 0 auto;
    }

    .form-detail-area {
        margin-left: inherit;
    }

    .form-radio-area {
        justify-content: inherit;
    }

    .form-rabel {
        padding: 0.4rem 0.2rem;
        margin-left: 0.8rem;
    }

    .form-area-con {
        max-width: 400px;
        margin: 0 auto;
    }


    .formItem {
        margin-bottom: 2.5rem;
    }

    .form-title-text {
        font-weight: 500;
        line-height: 1.25;
    }

    .form-subject {
        margin-bottom: 1rem;
        width: 300px;
    }

    .detail-text {
        width: 20rem;
    }

    .form-textarea-main {
        width: 21rem;
    }
}

@media screen and (max-width: 375px) {

    .list-link-about {
        width: 300px;
    }

    .form-main-area {
        max-width: 350px;
        margin: 0 auto;
    }

    .form-area-con {
        max-width: 350px;
        margin: 0 auto;
    }


    .formItem {
        margin-bottom: 2.5rem;
    }

    .form-title-text {
        font-weight: 500;
        line-height: 1.25;
    }

    .form-subject {
        margin-bottom: 1rem;
        width: 300px;
    }

    .detail-text {
        width: 20rem;
    }

    .form-textarea-main {
        width: 21rem;
    }
}

@media screen and (max-width: 290px) {

    .list-link-about {
        width: 250px;
    }

    .form-main-area {
        max-width: 250px;
        margin: 0 auto;
    }

    .formItem {
        display: block;
    }

    .form-subject {
        display: block;
    }

    .form-rabel {
        padding: 0.2rem 0.4rem;
    }

    .form-detail-area input {
        margin-left: 0;
    }

    .detail-text {
        width: 16rem;
    }

    .form-textarea-main {
        width: 16rem;
    }
}