.about-top-link-sub2 {
    margin-left: 1rem;
}

.about-top-link-sub:after {
    border-right: 2px rgba(0, 60, 51, 1) solid;
    border-top: 2px rgba(0, 60, 51, 1) solid;
    content: "";
    display: inline-block;
    height: 6px;
    transform: translateY(-50%) rotateZ(45deg);
    width: 6px;
    margin-left: 1rem;
}

.menu-detail-main {
    max-width: 750px;
    margin: 0 auto;
}

.menu-detail-parent {
    position: relative;
}

.menu-text-detail-con {
    line-height: 1.15;
}

.menu-text-detail-con:before {
    background-color: rgba(112, 112, 112, 1);
    content: "";
    display: inline-block;
    width: 30px;
    height: 1px;
    left: -2rem;
    position: absolute;
    top: 0.5rem;
    transform: translateY(-50%);
}

.menu-detail-con2 {
    font-size: 2rem;
    line-height: 1.75;
    margin-top: 2rem;
    color: rgba(41, 41, 41, 1);
    font-family: 'Noto Sans JP', sans-serif;
}


/* スライダー */
.menu-slider {
    margin: 100px auto;
    width: 80%;
}

.menu-slider img {
    height: auto;
    width: 100%;
}

/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

.slick-prev {
    border-left: 2px rgba(0, 60, 51, 1) solid;
    transform: translate(0, -50%) rotateZ(-45deg);
}

.slick-arrow {
    border-top: 2px rgba(0, 60, 51, 1) solid;
    z-index: 250;
}