.about-main {
    margin-bottom: 5rem;
}

.shop-main {
    margin-top: 5rem;
}

.shop-main-area {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

.shop-flex, .shop-flex2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px rgba(0, 60, 51, 1) solid;
    margin-top: 3rem;
}

.shop-flex:after {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px rgba(0, 60, 51, 1) solid;
    border-right: 1px rgba(0, 60, 51, 1) solid;
    bottom: -1.1rem;
    content: "";
    display: inline-block;
    height: 35px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) rotate(45deg);
    width: 35px;
    z-index: 150;
}


.shop-number-area {
    margin-right: 2rem;
}

.snm-content {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.shop-plan-area {
    margin-bottom: 3rem;
}

.shop-number-img {
    width: 1.5rem;
}


.shop-area-textdetail {
    font-family: 'Noto Serif JP', serif;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}

.snm-content2 {
    display: flex;
    flex-direction: row;
}

.con2-text {
    font-size: 2rem;
    font-family: 'Noto Serif JP', serif;
    letter-spacing: 0.3rem;
    width: 100%;
    border-bottom: 1px rgba(217, 217, 217, 1) solid;
    padding-bottom: 1rem;
    margin-bottom: 1.2rem;
    margin-right: 0.8rem;
}

.con2-text-sub {
    font-size: 1.4rem;
    font-family: 'Noto Serif JP', serif;
}

.con2-subcontent {
    line-height: 2;
    margin-bottom: 1.5rem;
}

.im-text-red {
    color: rgba(230, 75, 6, 1);
    font-weight: bold;
}

.shop-imgcontent1, .shop-imgcontent2, .shop-imgcontent3 {
    width: 18rem;
    height: auto;
}

.shop-imgcontent4, .shop-imgcontent5, .shop-imgcontent6 {
    width: 13rem;
    height: auto;
}

.shop-imgcontent7, .shop-imgcontent8 {
    width: 15rem;
    height: auto;
}

@media screen and (max-width: 920px) {

    .shop-main {
        max-width: 850px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 830px) {
    .shop-main {
        max-width: 780px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {

    .shop-main {
        max-width: 700px;
        margin: 0 auto;
    }

    .shop-main:not(:first-child) {
        margin-top: 3rem;
    }

    .shop-imgcontent1, .shop-imgcontent2, .shop-imgcontent3 {
        width: 23rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .shop-imgcontent4, .shop-imgcontent5, .shop-imgcontent6 {
        width: 18rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .shop-imgcontent7, .shop-imgcontent8 {
        width: 17rem;
        height: auto;
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 550px) {

    .shop-flex, .shop-flex2 {
        display: block;
    }

    .shop-main {
        max-width: 500px;
        margin: 0 auto;
    }

    .snm-content3 {
        max-width: 100px;
        margin: 0 auto;
    }

    .shop-imgcontent1, .shop-imgcontent2, .shop-imgcontent3 {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .shop-imgcontent4, .shop-imgcontent5, .shop-imgcontent6 {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .shop-imgcontent7, .shop-imgcontent8 {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 420px) {

    .shop-main {
        max-width: 390px;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .shop-flex, .shop-flex2 {
        display: block;
    }

    .snm-content3 {
        max-width: 120px;
        margin: 0 auto;
    }

    .shop-imgcontent1, .shop-imgcontent2, .shop-imgcontent3 {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .shop-imgcontent4, .shop-imgcontent5, .shop-imgcontent6 {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
    }

    .shop-imgcontent7, .shop-imgcontent8 {
        width: 8rem;
        height: auto;
        margin-bottom: 2rem;
    }
}


@media screen and (max-width: 400px) {

    .shop-main {
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

}


@media screen and (max-width: 390px) {

    .shop-main {
        max-width: 370px;
        margin: 0 auto;
    }

    .snm-content3 {
        max-width: 120px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 375px) {

    .shop-main {
        max-width: 330px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 280px) {

    .shop-main {
        max-width: 250px;
        margin: 0 auto;
    }
}