/* 共通 */
html {
    line-height: 1.15;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo-img {
    width: 7.5rem;
}

#gnav {
    background-color: rgba(255, 255, 255, 1);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 20px;
    justify-content: space-around;
}

#gnav ul {
    overflow: hidden;
}

.inner-main-area {
    display: flex;
    justify-content: right;
}

.header-box {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.flex-area {
    display: flex;
    flex-direction: row;
}

.inner {
    display: flex;
    /* 右寄せ */
    justify-content: right;
}

.inner_text {
    font-size: 1.2rem;
    font-weight: normal;
    color: rgba(41, 41, 41, 1);
    font-family: 'Noto Sans JP', sans-serif;
}

#gnav .inner_child {
    margin-left: 20px;
}

.header-tell {
    display: block;
    text-align: right;
    color: rgba(0, 60, 51, 1);
    display: inline-block;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.625rem;
    font-weight: 600;
    margin: 0 0 0.5rem;
    margin-left: 1rem;
}

.tell-icon {
    width: 3.0rem;
}

.header-menu-area {
    display: flex;
    flex-direction: row;
}

.contact-main-area {
    display: flex;
    justify-content: right;
}

.contact-area {
    width: 7rem;
    height: 6rem;
    line-height: 1.7rem;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 60, 51, 1);
    border: 1px rgba(0, 60, 51, 1) solid;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #FFF
}

.contact-link:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 60, 51, 1);
}


.sns-list {
    display: flex;
    flex-direction: row;
}

.twitter-icon, .insta-icon {
    width: 2.7rem;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.3rem;
    margin-right: 0.5rem;
}


/* main */

.top-main-area {
    margin: 11rem 0 3rem;
}

.main-visual {
    margin-left: 5.0rem;
}

.main-text-viarea {
    width: 30vw;
    display: flex;
    flex-direction: row;
    /* height: 250px; */
}

.topMvText {
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 0.7em;
    line-height: 2.5rem;
}

.top-image-sign-area {
    margin: 0;
    padding: 0 0 0 1.0rem;
}

.main-icon-shop {
    padding: 0 0 0 3.75rem;
    width: 15vw;
    position: relative;
    z-index: 999;
}

.main-visual-top {
    width: 60vw;
    position: relative;
    left: 9rem;
    top: -6rem;
    z-index: 998;
    object-fit: cover;
}

.message-area {
    max-width: 1000px;
    margin: 0 auto;
}


.topAdb-title {
    font-size: 2rem;
    margin: 0 0 1.5rem;
    letter-spacing: 0.2rem;
}

.Adb-text-image {
    display: flex;
    flex-direction: row;
}

.topAbd-text {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    line-height: 2.5;
}

.top-img {
    width: 37vw;
    margin-top: -2rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
}

/* main ここまで */


/* 会社代表情報 */
.topAdbCompany {
    width: 75%;
    height: auto;
    margin: 5rem 0;
}


.topAdbComp-Area {
    background: #FFFAF0;
    position: relative;

}

.topAdb-Conpany-detail {
    display: flex;
    flex-direction: row;
}

.topAdb-text-area {
    margin-left: 3rem;
    margin-bottom: 3rem;
}

.human-img {
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
}

.Company-detail {
    padding-top: 6rem;
    padding-left: 2rem;
}

.company_name {
    font-size: 1.25rem;
    color: rgba(0, 60, 51);
    font-weight: 600;
    letter-spacing: 0.25rem;
    margin-bottom: 1rem;
}

.daihyo {
    font-size: 1.125rem;
    padding: 1.3rem 0;
    font-family: 'Noto Serif JP', serif;
}

.c_name {
    font-size: 1.65rem;
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
}

.c_detail {
    font-size: 1.0rem;
    line-height: 1.6;
}

/* 会社代表情報 ここまで */


/* ボタン */
.Btn-area {
    text-align: center;
    margin-bottom: 6rem;
}

.btn-desin {
    align-items: center;
    background-color: rgba(0, 60, 51, 1);
    border: 1px rgba(0, 60, 51, 1) solid;
    border-radius: 30px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    display: flex;
    font-size: 1rem;
    height: 50px;
    justify-content: center;
    line-height: 1;
    margin: 0 auto;
    position: relative;
    width: 13rem;
    height: 3.8rem;
}

.btn-desin:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 60, 51, 1);
    opacity: 0.8;
    transition: 1s;
}

.btn-desin::after {
    border-top: 2px rgba(255, 255, 255, 1) solid;
    border-right: 2px rgba(255, 255, 255, 1) solid;
    content: "";
    display: inline-block;
    height: 6px;
    left: calc(100% - 28px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
    width: 6px;
}

.btn-text {
    letter-spacing: 0.15rem;
    font-weight: bold;
}

/* ボタン ここまで */




/* news */

.topNewsArea {
    margin: 0 auto;
    padding: 3rem 0 8rem;
    border-top: 1px rgba(217, 217, 217, 1) solid;
}

.NewsArea {
    margin: 0 4.375rem 0 0;
    width: 150px;
}

.NewsGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
}

.NewsContent {
    margin-top: 2rem;
    width: calc((100% - 4rem) - 200px);
}

.news-text {
    font-size: 2.7rem;
    margin: 50px 0 10px 10px;
    letter-spacing: 0.3rem;
    font-family: 'Noto Serif JP', serif;
}

.news-subtext {
    margin: 0 0 10px 12px;
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
    font-family: 'Noto Serif JP', serif;
}

.news {
    display: block;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.news:hover {
    background-color: #EEEEEE;
    opacity: 0.8;
    transition: 1s;
}

.news-link:after {
    border-top: 2px rgba(0, 60, 51, 1) solid;
    border-right: 2px rgba(0, 60, 51, 1) solid;
    content: "";
    display: inline-block;
    left: calc(100% - 13px);
    top: 50%;
    transform: translateY(-50%) rotateZ(45deg);
    height: 0.5rem;
    width: 0.5rem;
    position: relative;
    top: -2.5rem;
}

.news-area {
    display: flex;
    flex-direction: row;
    padding: 0.7rem 0;
}

.news-day {
    color: rgba(0, 60, 51, 1);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 1.875rem 0 0;
    margin-top: 1.0rem;
    width: 7em;
}

.news-title {
    font-size: 1.1rem;
    padding: 1rem;
    font-weight: normal;
    letter-spacing: 0.05rem;
}

/* News ここまで */



/* Menu */
.menu-area-main {
    padding: 4rem 0 1rem 0;
    background-color: rgba(239, 242, 242, 1);
}

.menu-area {
    max-width: 1000px;
    margin: 0 auto;
}

.menu-title {
    font-size: 2.7rem;
    margin: 50px 0 10px 10px;
    letter-spacing: 0.3rem;
    font-family: 'Noto Serif JP', serif;
}

.menu-text {
    margin: 0 0 10px 12px;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-family: 'Noto Serif JP', serif;
}

.menu-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.top-menu-img {
    width: calc((100% - 2.5rem) / 3);
}

.menu-href {
    display: inline-block;
}

.menu-img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 0.7rem;
    box-shadow: 20px 10px 50px rgba(0, 11, 73, 0.2);
    transition: all 0.3s;
}

/* Menu ここまで */


/* 会社情報 */

.company-area-main {
    margin: 5rem 0;
    position: relative;
    z-index: 9999;
}

.company-area {
    max-width: 1000px;
    margin: 0 auto;
}

.company-detail-rogo {
    margin: 5rem 0;
}

.top-company-detail {
    margin-top: -4rem;
}

.com-rogo-top {
    width: 6rem;
}

.com-text-imagearea {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.com-text-main {
    line-height: 2;
    margin-right: 4rem;
}

.com-tell-area {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

.com-tell-icon {
    width: 2.5rem;
}

.tell-bango-area {
    margin-top: 0.5rem;
}

.tell-bango {
    font-size: 1.7rem;
    color: rgba(0, 60, 51, 1);
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
}

.com-image-main {
    display: flex;
    flex-direction: row;
    margin-top: -10rem;
}

.com-images {
    width: 26vw;
    height: 32vw;
    object-fit: cover;
}

/* 会社情報 ここまで */


/* ACESS SNSエリア */
.top-access-sns-main {
    position: relative;
    top: -10rem;
    z-index: 1;
    height: 45vw;
    background-color: rgba(0, 60, 51, 1);
    padding-top: 6rem;
}

.top-access-sns-area {
    max-width: 1000px;
    margin: 0 auto;
}

.access-sns-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.acsns-text {
    color: #FFF;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    color: #FFF;
}

.access-top, .twitter-top {
    margin-top: 1rem;
}

.twitter-top {
    border: 1px solid #EEE;
    padding: 10px;
}

.more-btn-asns {
    margin-top: 6rem;
}

/* ACESS SNSエリア ここまで */


/* 配達情報 */
.place-main {
    background-color: rgba(239, 242, 242, 1);
    padding: 5rem 0;
}

.place-main-area {
    max-width: 1000px;
    margin: 0 auto;
}

.place-main-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-1 {
    margin-right: 5rem;
}

.ar1-text, .ar2-text {
    border-bottom: 1px rgba(0, 60, 51, 0.5) solid;
    color: rgba(0, 60, 51, 1);
    font-family: 'Noto Serif JP', serif;
    font-size: 1.8rem;
    letter-spacing: 0.1em;
    text-align: center;
    padding-bottom: 0.8rem;
    margin-bottom: 2.5rem;
}

.ar1-small-text {
    font-size: 1.4rem;
}

.place-dt, .delivery-dt {
    color: rgba(0, 60, 51, 1);
    font-size: 1.05rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

.place-dl, .delivery-dl {
    margin-bottom: 1.4rem;
}

.other-area {
    border: 1px rgba(0, 60, 51, 0.5) solid;
    padding: 1.5rem 0;
}

.other-area-text {
    text-align: center;
    color: rgba(0, 60, 51, 1);
    font-size: 1.25rem;
    font-weight: bold;
}

/* 配達情報 ここまで */


/* お問い合わせボタン */

.form-main {
    margin: 5rem 0;
}

.form-btn-area {
    text-align: center;
}

.addBtn-Form {
    background: #eee;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 35rem;
    height: 7rem;
    padding: 2rem 2rem;
    color: rgba(0, 60, 51, 1);
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.addBtn-Form:hover {
    opacity: 0.8;
    transition: 1s;
    background-color: rgba(0, 60, 51, 1);
    color: #FFF
}


.add-btn-text:before {
    background-image: url(../images/tell-icon.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 3rem;
}

.add-btn-text {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
}

/* お問い合わせボタン ここまで  */



/* footer */
.footer {
    padding: 2.8rem 0;
    border-top: 1px rgba(217, 217, 217, 1) solid;
}

.footer-area {
    text-align: center;
    margin: 0 0 2.1875rem;
}

.logo-img-footer {
    width: 5rem;
    margin-top: 2.0rem;
}

.footer-menu {
    padding: 1.6rem 0;
    background-color: rgba(0, 60, 51, 1);
}

.footer-text {
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.0625rem;
}

.footer-menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-menu-text {
    padding: 0 1.7rem;
    color: #FFF;
    width: auto;
    border-right: 2px rgba(70, 126, 117, 1) solid;
    letter-spacing: 0.05rem;
}


.footer-sitemap {
    margin: 0 auto;
    width: 100%;
}

.sns-area-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sns-icon-footer {
    width: 2.5rem;
    margin: 2rem 2rem 2rem;
}

.copyright-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.cp-menu-list {
    border-right: 2px rgba(188, 187, 187, 1) solid;
    margin: 0 calc(1.6rem + ((1vw - 0.375rem) * 3.3882)) 0 0;
    padding: 0 calc(0.8rem + ((1vw - 0.375rem) * 0.7529)) 0 0;
    width: auto;
}

.copymenu {
    display: block;
}

.cpr-text {
    text-align: center;
    margin-bottom: 2rem;
}